html, body {
	font-family: Tahoma, Geneva, serif;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #444;
}

h1 {
	font-family: Tahoma, Geneva, serif;
    color: black;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 38px;
    margin: 10px 5px;
	padding-top: 30px;
}

h2 {
	margin-top: 5px;
	font-variant: all-small-caps;
    font-size: xx-large;
}

li {
  width: 500px;
}

a {
	color: #c70a0a;
	text-decoration: none;
}

a:link {
  color: #c70a0a;
}

a:hover {
  border-bottom: 1px solid;
}

a:active {
  color: #480400;
}

nav {
	position: fixed;
    background: #242424;
    top: 0;
    padding: 10px;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #ffffff;
}

nav a:hover {
	color: #d84242;
	border-bottom: none;
}

nav div {
	font-weight: bold;
    font-variant: all-small-caps;
	font-size: large;
}

nav ul {
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
    margin: 0;
}


.left-menu {
    float: left;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #d5d5d5;
	height: 100%;
	width: 170px;
	padding-left: 20px;
	padding-top: 80px;
}

/* Стили для списка категорий */
.left-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-variant: all-small-caps;
    font-size: 19px;
    font-weight: bold;
}

.left-menu ul li {
    margin-bottom: 10px;
    margin-left: 15px;
    width: 120px
}



/* Стили для основного контента */
.main-content {
    margin-left: 220px; /* Ширина левого меню + отступ */
}

/* Общие стили для списка постов */
.post-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.post-list li {
    margin-bottom: 10px;
	width: 95%;
	border: 2px solid #dbd4d4;
    padding: 10px;
    border-radius: 10px;
}


.bs {
    margin-top: 50px;
}

.bs li {
    display: inline;
    border: 1px solid #6c3737;
    border-radius: 7px;
    margin-right: 5px;
    padding: 4px;
}

img {
    width: 150px; /* Ширина */
    height: 130px;
    float: left; /* Выстраиваем элементы по горизонтали */
    margin: 0 0 0 1%; /* Отступ слева */
    padding: 2%; /* Поля */
}

.img-post {
    width: 30%;
    margin: 0 0 0 3.5%;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 2%;
    height: auto;
}

/*.list-pages {
    margin: 0 0 0 200px;
}

.list-pages ul{
    display: flex;
}*/

.list-pages {
    margin: 0 0 0 200px;
}

.list-pages ul {
    display: flex;
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
}

.list-pages li {
    margin: 0 5px; /* Добавляем отступы между квадратами */
}

.list-pages li, .list-pages a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; /* Размер квадрата */
    height: 30px; /* Размер квадрата */
    font-weight: bold; /* Жирный шрифт */
    border: 1px solid #ccc; /* Граница квадрата */
    text-decoration: none; /* Убираем подчеркивание ссылок */
}


/* Стили для формы с классом .auth-form */
.auth-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили для заголовка внутри формы */
.auth-form h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

/* Стили для каждого поля формы */
.auth-form p {
    margin: 15px 0;
}

.auth-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.auth-form input[type="text"],
.auth-form input[type="password"],
.auth-form input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Стили для ошибок формы */
.auth-form div.errors {
    color: red;
    margin-top: 5px;
}

/* Стили для ссылки "Забыли пароль?" */
.auth-form a {
    color: #741616;
    text-decoration: none;
}

.auth-form a:hover {
    text-decoration: underline;
}

/* Стили для кнопки отправки формы */
.auth-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #942929;
    border: none;
    border-radius: 5px; 
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.auth-form button[type="submit"]:hover {
    background-color: #ba2e2e;
}

/* Скрытое поле для "next" */
.auth-form input[type="hidden"] {
    display: none;
}


/* Стили для формы с классом .profile-form */
.profile-form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили для заголовка */
.profile-form h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

/* Стили для изображения профиля */
.profile-form img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* Стили для каждого поля формы */
.profile-form p {
    margin: 15px 0;
}

.profile-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.profile-form input[type="text"],
.profile-form input[type="password"],
.profile-form input[type="email"],
.profile-form input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Стили для ошибок формы */
.profile-form div.errors {
    color: red;
    margin-top: 5px;
}

/* Стили для кнопки отправки формы */
.profile-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #942929;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.profile-form button[type="submit"]:hover {
    background-color: #ba2e2e;
}

/* Стили для ссылки "Сменить пароль" */
.profile-form a {
    color: #741616;
    text-decoration: none;
}

.profile-form a:hover {
    text-decoration: underline;
}


/* Стили для сообщения с классом .success-message */
.success-message {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #4CAF50;
    border-radius: 10px;
    background-color: #e7f7e7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Стили для заголовка */
.success-message h1 {
    font-size: 24px;
    color: #4CAF50;
    margin-bottom: 20px;
}

/* Стили для текста сообщения */
.success-message p {
    font-size: 16px;
    color: #333;
}

/* Стили для ссылки "Вернуться в профиль" */
.success-message a {
    color: #a82323;
    text-decoration: none;
}

.success-message a:hover {
    text-decoration: underline;
}

/* Стили для сообщения с классом .reset-password-message */
.reset-password-message {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #007BFF;
    border-radius: 10px;
    background-color: #f0f8ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Стили для заголовка */
.reset-password-message h1 {
    font-size: 24px;
    color: #007BFF;
    margin-bottom: 20px;
}

/* Стили для текста сообщения */
.reset-password-message p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}


/* Стили для формы с классом .article-form */
.article-form {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили для заголовка */
.article-form h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Стили для меток и полей формы */
.article-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.article-form input[type="text"], 
.article-form input[type="file"], 
.article-form select, 
.article-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.article-form textarea {
    height: 150px;
    resize: vertical;
}

/* Стили для кнопки отправки формы */
.article-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #942929;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.article-form button[type="submit"]:hover {
    background-color: #ba2e2e;
}

/* Стили для ошибок формы */
.article-form .errors {
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
}
