{% extends 'base.html' %}
{% block content %}
<h1>Авторизация</h1>
<form method="post" class="auth-form">
    {% csrf_token %}
    <div>{{ form.non_field_errors}}
    </div>
    {% for f in form %}
    <p><label for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div>{{ f.errors }}</div>
    {% endfor %}
    <p ><a href="{% url 'users:password_reset' %}">Забыли пароль?</a></p>
    <p>
        <button type="submit">Войти</button>
    </p>
</form>
<input type="hidden" name="next" value="{{ next }}" />
{% endblock %}