{% extends 'base.html' %}
{% block content %}
<h1>{{title}}</h1>
{% for contact in page_obj %}
{{ contact }}</p>
{% endfor %}
<ul>
    <p>
        Наш сайт с рецептами предлагает удобный поиск рецептов по категориям,
        таким как горячие блюда, закуски, десерты и многое другое.
        Пользователи могут легко фильтровать рецепты по категориям и тэгам.
        Зарегистрировавшись, вы сможете добавлять свои уникальные рецепты и
        загружать фотографии блюд.
        Наш сайт создан для того, чтобы сделать процесс готовки легким и приятным, объединяя кулинаров со всего мира в одно сообщество.
    </p>
<!--    {% for p in page_obj.paginator.page_range %}-->
<!--    <li>-->
<!--        <a href="?page={{ p }}">{{ p }}</a>-->
<!--    </li>-->
<!--    {% endfor %}-->
</ul>
<!--<form action="" method="post" enctype="multipart/form-data">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <button type="submit">Отправить</button>-->
<!--    </p>-->
<!--</form>-->
{% endblock %}
