{% extends 'base.html' %}
{% load recipes_tags %}
{% block content %}
<h1>{{title}}</h1>
<div class="left-menu">
    <ul>
        {% if cat_selected == 0 or cat_selected is None %}
        <li class="selected">Все категории</li>
        {% else %}
        <li><a href="{% url 'home' %}">Все категории</a></li>
        {% endif %}
        {% show_categories cat_selected %}
    </ul>
</div>

{% endblock %}

{% block navigation %}
<div class="list-pages">
    <ul>
        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li>{{p}}</li>
        {% else %}
        <li>
            <a href="?page={{p}}">{{p}}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}